### Understanding python basic syntax

In [1]:
# print function
print('This is print function')

This is print function

In [2]:
# indentation to indicate a block of code
if 2<5:
    print(True)

True

### Variables

In [3]:
# it is container which store values
num = 5
name = 'python'
print(num)
print(name)

5
python

### Datatypes

##### Numeric Datatype

In [4]:
# integer
num1 = 29

# float
num2 = 34.5

# complex
num3 = 2+5j

print(num1, type(num1))
print(num2, type(num2))
print(num3, type(num3))

29 <class 'int'>
34.5 <class 'float'>
(2+5j) <class 'complex'>

##### Sequence Datatype

In [5]:
# string - collection of characters
name = 'GammaEdge'
print(name, type(name))
# slicing by index
print(name[5:])

GammaEdge <class 'str'>
Edge

In [6]:
# List - ordered collection of data (it can be modified)
ls = ['Gamma', 'Edge', 1, 2.3, True]
print(ls, type(ls))

['Gamma', 'Edge', 1, 2.3, True] <class 'list'>

In [7]:
# Tuple - ordered collection of data (it cannot be modified after it is created)
tp = (1,2,3)
print(tp, type(tp))

(1, 2, 3) <class 'tuple'>

##### Boolean Datatype

In [8]:
# Boolean - Either True or False
val1 = True
val2 = False

print(val1, type(val1))
print(val2, type(val2))

True <class 'bool'>
False <class 'bool'>

##### Set Datatype

In [9]:
# set - unordered collection of data, iterable, mutable and no dupicate element
s1 = set()
s1 = {1, 23, 2, 'B', 'A', 4.5, 2, 'A'}

print(s1, type(s1))

{1, 2, 4.5, 23, 'B', 'A'} <class 'set'>

##### Dictionary Datatype

In [10]:
# dictionary holds a key: value pair
#  initialize empty dictionary
d = {}

d = {1:'Gamma', 2:'Edge'}

print(d, type(d))
print(d[1])
print(d.get(2))

{1: 'Gamma', 2: 'Edge'} <class 'dict'>
Gamma
Edge

### Conditionals

In [11]:
# if statement
age = 20

if age>=18:
    print('Eligible to Vote')

Eligible to Vote

In [12]:
# short hand if
if age >=18 : print('Eligible to Vote')

Eligible to Vote

In [13]:
# else statement - execute if the 'if' condition false
if 10>50:
    print('If executed')
else:
    print('Else executed')

Else executed

In [14]:
# elif statement
if age<=12:
    print('Child')
elif age<=19:
    print('Teen')
elif age<=35:
    print('Young Adult')
else:
    print('Adult')

Young Adult

In [15]:
# Nested if-else:
if age>12:
    if age<=19:
        print('Teen')
    else:
        print('Adult')
else:
    print('Chid')

Adult

In [16]:
# Ternary - if-else in single line
s = 'Adult' if age>=18 else 'Minor'
print(s)

Adult

In [17]:
# Match Case
num = 2
match num:
    case 1:
        print('One')
    case 2:
        print('Two')
    case _ :
        print('Default')

SyntaxError: invalid syntax (1803619244.py, line 3)

### Type Casting

In [18]:
# implicit type casting
a = 23
b = 2.3

c = a+b
print(c, type(c))

c = a*b
print(c, type(c))

25.3 <class 'float'>
52.9 <class 'float'>

In [19]:
# explicit type casting
# int(), float(), str()

# int to float
a = 3
a_new = float(a)
print(a_new, type(a_new))

# float to int
b = 2.3
b_new = float(b)
print(b_new, type(b_new))

# int to string
c = 5
c_new = str(c)
print(c_new, type(c_new))

# string to float
d = '7.2'
d_new = float(d)
print(d_new, type(d_new))

3.0 <class 'float'>
2.3 <class 'float'>
5 <class 'str'>
7.2 <class 'float'>

### Operators and Expressions

In [20]:
# Arithmatic operator
a= 13
b=4

print('Addition -', a+b)
print('Subtraction -', a-b)
print('Multiplication -', a*b)
print('Division -', a/b)
print('Floor Division -',a//b)
print('Modulus -', a%b)
print('Exponential -', a**b)

Addition - 17
Subtraction - 9
Multiplication - 52
Division - 3.25
Floor Division - 3
Modulus - 1
Exponential - 28561

In [21]:
# Comparison operator
a = 13
b = 33
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [22]:
# Logical Operator
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

In [23]:
# Bitwise Operator
a = 10
b = 4
print(a & b)
print(a | b)
print(~a)
print(a^b)
print(a>>b)
print(a<<b)

0
14
-11
14
0
160

In [24]:
# Assignment operator
a = 13
b = a
print(b)
b += a
print(b)

13
26

In [25]:
# identity operator
a = 10
b = 20
c = a
print(a is not b)
print(a is c)

True
True

In [26]:
a = 23
b = 4
ls = [1, 2, 3, 4]

print(a not in ls)
print(b in ls)

True
True

### Input/Output Operation

In [ ]:
name = input('Enter Name :')
print(name)

In [ ]:
num = int(input('Enter NUmber :'))
print(num)

In [ ]:
a,b,c = input('Enter three values :').split()

### Comments and Documentation

In [28]:
# single line comment
"""
Multi
Line
Comment
"""

'\nMulti\nLine\nComment\n'

In [30]:
# Documentation (Docstring)
def func():
    """
    It does nothing (its like meta data)
    """
    return None

# using doc
print(func.__doc__)
# using help
print(help(func))

    It does nothing (its like meta data)

Help on function func in module __main__:

func()
    It does nothing (its like meta data)

None

### Loops

In [31]:
# for loop - use when number of iteration fixed
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
# while loop - when number of iteration not fixed
count = 0
while count<10:
    print(count)
    count += 2

0
2
4
6
8

In [34]:
# else with loop
ls = [1,2,3,4]
for ele in ls:
    print(ele)
else:
    print('Else executed')

1
2
3
4
Else executed

In [36]:
# nested for loop
n = 5
for i in range(1,n+1):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****

### Control Statements

In [37]:
# Continue - skip iteration if condition match
ls = [1, 2, 3, 4, 5, 6]
for i in ls:
    if i==3 or i==5:
        continue
    print(i)

1
2
4
6

In [38]:
# break - terminate the loop
ls = [1, 2, 3, 4, 5, 6, 7]
for i in ls:
    if i==4:
        break
    print(i)

1
2
3

In [40]:
# pass - for empty loop, also use in functions and classes
for i in 'gammaedge':
    pass
print(i)

e

In [41]:
def func():
    pass

### Function & Modules

In [44]:
# functions - block of statement that returns the specific task
def func():
    return 'this is func'
print(func())

this is func

In [45]:
# parameters
def func(a,b):
    return a+b
print(func(1,2))

3

In [ ]:
# default argument
def func(a,b,c=4):
    return a+b*c
print(func(4,5))

24

In [56]:
# keyword argumet
def func(f_name,l_name):
    return f_name+' '+l_name
print(func(l_name='Edge', f_name='Gamma'))

Gamma Edge

In [58]:
# non keyword arguments
def myfun(*args):
    print(type(args))
    for i in args:
        print(i)
myfun(1,2,3,4,5)

<class 'tuple'>
1
2
3
4
5

In [62]:
def myfun(**kwargs):
    print(type(kwargs))
    for i in kwargs:
        print(i, kwargs[i])

myfun(id=1,item='box',quantity=4)

<class 'dict'>
id 1
item box
quantity 4

### Lambda Function

In [63]:
square = lambda x: x*x
print(square(3))

9

In [65]:
num = [1,2,3,4,5,6,7]
sq_num = list(map(lambda x:x*x,num))
print(sq_num)

[1, 4, 9, 16, 25, 36, 49]

### Importing and Creating modules

In [91]:
import modules as m

In [92]:
emp = m.Employee('Rohan', 'Indore')
emp.show()

Rohan
Indore

In [93]:
m.location

'Indore'

In [94]:
m.Greet()

Good Morning

#### Shallow Copy and Deep Copy

In [104]:
import copy

a = [[1,2,3]]
b=copy.deepcopy(a)

print(a)
print(b)

b[0][1]=10
print(a)
print(b)

a[0][2]=24
print(a)
print(b)

[[1, 2, 3]]
[[1, 2, 3]]
[[1, 2, 3]]
[[1, 10, 3]]
[[1, 2, 24]]
[[1, 10, 3]]

In [103]:
c = [[4,5,6]]
d=copy.copy(c)

print(c)
print(d)
print()
d[0][1]=56
print(c)
print(d)
print()
c[0][2]=86
print(c)
print(d)

[[4, 5, 6]]
[[4, 5, 6]]

[[4, 56, 6]]
[[4, 56, 6]]

[[4, 56, 86]]
[[4, 56, 86]]