In [1]:
import sqlite3
connection = sqlite3.connect('demo.db')

In [2]:
cur = connection.cursor()

##### Create

In [3]:
cur.execute('''create table student(
                name text,
                points integer,
                accuracy real
            );''')

In [4]:
cur.execute('''insert into student values("A", 10, 78.9)''')
cur.execute('''insert into student values("B", 9, 67.8)''')
cur.execute('''insert into student values("C", 8, 98.7)''')

##### Read

In [5]:
cur.execute('select * from student where accuracy > 70')
cur.fetchall()

[('A', 10, 78.9), ('C', 8, 98.7)]

##### Update

In [6]:
cur.execute('update student set points = points + 5 where accuracy>70')
cur.execute('select * from student')
cur.fetchall()

[('A', 15, 78.9), ('B', 9, 67.8), ('C', 13, 98.7)]

In [3]:
cur.execute('drop table student')

In [4]:
cur.close()

##### Delete

In [8]:
cur.execute('delete from student where accuracy<70')
cur.execute('select * from student')
cur.fetchall()

[('A', 15, 78.9), ('C', 13, 98.7)]

In [10]:
cur.close()