In [1]:
# Features of sqlite
# Serverless
# self - contained
# zero - configuration
# Transactional
# Single - Database

In [2]:
import sqlite3

In [4]:
conn = sqlite3.connect('demo.db')

In [5]:
cur = conn.cursor()

##### Create Table

In [6]:
table = """create table Demo (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
);"""

In [7]:
cur.execute(table)

##### Insert Data

In [9]:
cur.execute('''INSERT INTO Demo VALUES ('ex1@gmail.com', 'Rohan', 'Bhati', 10)''')
cur.execute('''INSERT INTO Demo VALUES ('ex2@gmail.com', 'Preet', 'Vani', 10)''')
cur.execute('''INSERT INTO Demo VALUES ('ex3@gmail.com', 'Prashant', 'Chouhan', 9)''')

In [10]:
data = cur.execute('select * from Demo')

##### Read Data

In [11]:
for i in data:
    print(i)

('ex1@gmail.com', 'Rohan', 'Bhati', 10)
('ex2@gmail.com', 'Preet', 'Vani', 10)
('ex3@gmail.com', 'Prashant', 'Chouhan', 9)

##### Where Clause

In [13]:
cur.execute('select * from Demo where Score=10')

In [14]:
cur.fetchall()

[('ex1@gmail.com', 'Rohan', 'Bhati', 10),
 ('ex2@gmail.com', 'Preet', 'Vani', 10)]

In [18]:
cur.execute('select * from Demo where First_Name like "P%"')
cur.fetchall()

[('ex2@gmail.com', 'Preet', 'Vani', 10),
 ('ex3@gmail.com', 'Prashant', 'Chouhan', 9)]

##### Order By Clause

In [19]:
cur.execute('select Email from Demo order by First_Name desc')
cur.fetchall()

[('ex1@gmail.com',), ('ex2@gmail.com',), ('ex3@gmail.com',)]

In [21]:
conn.close()