In [1]:
import pandas as pd

In [2]:
# creating data frame from dictionary
data = pd.DataFrame()
print(data)

Empty DataFrame
Columns: []
Index: []

In [4]:
data = {'name' : ['A', 'B', 'C'],
        'Marks' : [43,56,46]
        }
df = pd.DataFrame(data)
print(df)

  name  Marks
0    A     43
1    B     56
2    C     46

In [5]:
import numpy as np
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
data = np.array(['a','b','c','d','e','f'])
sr = pd.Series(data)
print(sr[3])

d

In [11]:
# custom indexes
sr = pd.Series(data,index=[10,11,12,13,14,15])
print(sr)

10    a
11    b
12    c
13    d
14    e
15    f
dtype: object

In [14]:
data = pd.read_csv('Iris.csv')
data.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [15]:
data.loc[4:6]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [18]:
pd.Series(np.linspace(1,10,5))

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64